<div class="h-fit w-screen flex justify-center bg-[#D8B4F8] ">
  
    <div class="flex flex-col h-screen w-full justify-center items-center  overflow-hidden">
     
  <p class="title text-bold text-8xl text-white p-10 rounded-lg">How we work ?</p>
  
      <div class="w-full md:w-3/4 h-3/4 grid grid-cols-1 md:grid-cols-5 gap-x-8 md:gap-x-32 place-items-center place-content-center px-4 md:px-0">
        <app-cards img="marrage.jpg" name="Marriage" slogan="Making Your Big Day Unforgettable!"></app-cards>
        <app-cards img="bd.jpg" name="Birthday" slogan="Celebrate Your Day, Your Way"></app-cards>
        <app-cards img="meet.jpg" name="Meeting" slogan="Productive Meetings, Exceptional Results!"></app-cards>
        <app-cards img="party.jpg" name="Party" slogan="Let's Get This Party Started!"></app-cards>
        <app-cards img="gt.jpg" name="Get together" slogan="Perfect Gatherings, Every Time!"></app-cards>
        <!-- <div class="w-56 h-72 broder-2 bg-black rounded-lg" ></div>
        <div class="w-56 h-72 broder-2 bg-black rounded-lg" ></div>
        <div class="w-56 h-72 broder-2 bg-black rounded-lg" ></div>
        <div class="w-56 h-72 broder-2 bg-black rounded-lg" ></div>
        <div class="w-56 h-72 broder-2 bg-white rounded-lg" >
          <div class="w-full h-1/2 bg-white  rounded-t-lg flex p-2">
            <div class="size-14 rounded-md border-blue-300 border-2 bg-blue-50"></div>
          </div>
          <div class="w-full h-1/2"></div>
        </div> -->
      </div>
    </div>
  </div>