<div class="h-full w-60 p-4 ">
    <div class=" h-full bg-[#ffffff] flex flex-col items-center justify-between pt-10  rounded-md">
        <div class="w-full flex flex-col space-y-5">
        <div *ngFor="let menu of menus" class="w-full  flex justify-center">
            <div class="w-[80%]"><button class="btn" [routerLink]="menu.routerLink"> {{menu.label}} </button></div>    
        </div>
        </div>
        <img src="../../../assets/img2.svg" class="rounded-b-md" alt="" srcset="">
    </div>
    </div>