@tailwind base;
@tailwind components;
@tailwind utilities;

.labelinfo {
    @apply text-sm
}
.listheader{
    font-size: 11px;
}
.listspan{
    @apply w-16 h-fit text-wrap font-semibold text-center
}
.vendorlistname{
    font-size: 18px;
}

.main {
    height: 42rem;
}

div{
    @apply border-[#caf1f9]
}

button{
    @apply size-fit bg-blue-100 text-blue-800 pl-2 pr-2 text-xl rounded-md 

}