@tailwind base;
@tailwind components;
@tailwind utilities;

.content{
  @apply h-96 flex-grow items-center flex flex-col p-5 space-y-6
}


:host {
  ::ng-deep .p-stepper-nav{
     /* margin-right: 500px; */
     background-color: white;
  }
  ::ng-deep .p-stepper-panels {
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    } 

    ::ng-deep .p-stepper-nav {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      } 

}


.content{

width: fit-content;
overflow:scroll;
}


.button1 {
    height: 30px;
    width: 80px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .button1:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .button1:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
  div {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }